---
type Props = { class?: string };
const { class: className = '' } = Astro.props as Props;

const paths = {
  p25d880:
    'M0 14.4626C0 12.4507 0.283286 10.5717 0.849858 8.82558C1.41643 7.07945 2.17186 5.56107 3.11615 4.27044C4.09821 2.94186 5.25024 1.89797 6.57224 1.13878C7.89424 0.379595 9.29178 0 10.7649 0H40.8499C42.3229 0 43.7016 0.379595 44.9858 1.13878C46.3078 1.89797 47.4599 2.94186 48.4419 4.27044C49.424 5.56107 50.1983 7.07945 50.7649 8.82558C51.3314 10.5717 51.6147 12.4507 51.6147 14.4626V33.4233H13.5411V49.8788H55.1275C54.9764 51.2074 54.5987 52.479 53.9943 53.6937C53.4278 54.8704 52.6912 55.8954 51.7847 56.7684C50.916 57.6415 59.878 53.6937 62.5535 60.2607C56.9241 59.8275 48.8604 60.2607 47.614 60.2607L10.7649 59.6154C9.29178 59.6154 7.89424 59.2358 6.57224 58.4766C5.25024 57.7174 4.09821 56.6925 3.11615 55.4019C2.17186 54.0733 1.41643 52.5359 0.849858 50.7898C0.283286 49.0437 0 47.1647 0 45.1528V14.4626ZM38.0737 25.4518V9.73661H13.5411V25.4518H38.0737Z',
  p64e4d00:
    'M47.614 50.9511L80.7627 10.8089H50.1678L40.8499 0L95.2103 1.07232V11.5491L63.0856 50.9511H99.6296C99.4785 52.2797 99.1008 53.5513 98.4964 54.766C97.9298 55.9428 97.1933 56.9677 96.2868 57.8407C95.418 58.7138 94.4171 59.4161 93.284 59.9475C92.1508 60.441 90.961 60.6877 89.7146 60.6877L47.614 60.2607V50.9511Z',
  p215acc80:
    'M24.5988 75.78C26.2296 75.78 27.5219 76.4108 28.4757 77.6723C29.4603 78.9339 29.9526 80.6262 29.9526 82.7493V101.072H23.1219V83.4416C23.1219 82.6108 23.0142 82.0108 22.7988 81.6416C22.5834 81.2416 22.2603 81.0416 21.8296 81.0416C20.968 81.0416 20.0911 81.9492 19.1988 83.7646V101.072H12.4603V83.4416C12.4603 81.8416 12.0296 81.0416 11.168 81.0416C10.2757 81.0416 9.3834 81.9492 8.4911 83.7646V101.072H1.70648V76.5646H7.75263L8.16802 79.5185C9.73725 77.0262 11.6603 75.78 13.9373 75.78C15.0449 75.78 15.9988 76.1185 16.7988 76.7954C17.6296 77.4723 18.2603 78.4416 18.6911 79.7031C20.2911 77.0877 22.2603 75.78 24.5988 75.78Z',
  p271ce200:
    'M43.2561 75.78C46.4561 75.78 48.9484 76.8723 50.733 79.0569C52.5484 81.2416 53.4561 84.5031 53.4561 88.8416C53.4561 92.9954 52.5484 96.2108 50.733 98.4877C48.9484 100.734 46.4561 101.857 43.2561 101.857C40.0561 101.857 37.5484 100.765 35.733 98.58C33.9484 96.3646 33.0561 93.1031 33.0561 88.7954C33.0561 84.58 33.9484 81.3646 35.733 79.1492C37.5484 76.9031 40.0561 75.78 43.2561 75.78ZM43.2561 80.9492C42.1792 80.9492 41.3946 81.5493 40.9023 82.7493C40.4407 83.9185 40.2099 85.9339 40.2099 88.7954C40.2099 91.7492 40.4407 93.8108 40.9023 94.98C41.3946 96.1493 42.1792 96.7339 43.2561 96.7339C44.333 96.7339 45.1023 96.1493 45.5638 94.98C46.0561 93.78 46.3023 91.7339 46.3023 88.8416C46.3023 85.9185 46.0561 83.8723 45.5638 82.7031C45.1023 81.5339 44.333 80.9492 43.2561 80.9492Z',
  p1f7d25f2:
    'M75.7088 66.8262V101.072H69.478L69.2472 98.4877C68.5395 99.5339 67.7396 100.365 66.8472 100.98C65.9549 101.565 64.878 101.857 63.6164 101.857C61.0934 101.857 59.1703 100.734 57.8472 98.4877C56.5241 96.2108 55.8626 92.98 55.8626 88.7954C55.8626 86.18 56.2164 83.8877 56.9241 81.9185C57.6318 79.9493 58.6164 78.4416 59.878 77.3954C61.1395 76.3185 62.5703 75.78 64.1703 75.78C66.0164 75.78 67.5395 76.5339 68.7395 78.0415V66.0877L75.7088 66.8262ZM65.878 96.7339C66.9549 96.7339 67.9088 95.9339 68.7395 94.3339V82.8877C68.3395 82.2108 67.9396 81.7185 67.5396 81.4108C67.1396 81.0723 66.678 80.9031 66.1549 80.9031C64.0626 80.9031 63.0164 83.5339 63.0164 88.7954C63.0164 91.78 63.2626 93.8569 63.7549 95.0262C64.278 96.1646 64.9857 96.7339 65.878 96.7339Z',
  p39b87bb0:
    'M98.4626 88.3339C98.4626 89.3185 98.4165 90.1646 98.3242 90.8723H85.8626C86.0165 93.0877 86.4165 94.6262 87.0626 95.4877C87.7395 96.3185 88.7088 96.7339 89.9703 96.7339C90.8011 96.7339 91.6011 96.58 92.3703 96.2723C93.1395 95.9339 93.9703 95.4262 94.8626 94.7493L97.7242 98.5339C95.4472 100.749 92.6934 101.857 89.4626 101.857C86.0165 101.857 83.4011 100.734 81.6165 98.4877C79.8319 96.2108 78.9395 93.0415 78.9395 88.98C78.9395 84.9185 79.7857 81.7031 81.478 79.3339C83.2011 76.9646 85.6472 75.78 88.8165 75.78C91.8319 75.78 94.1857 76.8569 95.878 79.0108C97.6011 81.1339 98.4626 84.2416 98.4626 88.3339ZM91.678 86.3492C91.678 84.2569 91.4626 82.7492 91.0318 81.8262C90.6318 80.8723 89.9088 80.3954 88.8626 80.3954C87.9395 80.3954 87.2319 80.8569 86.7395 81.78C86.278 82.6723 85.9857 84.3031 85.8626 86.6723H91.678V86.3492Z',
};
---

<div class:list={[className]}>
	<svg
		class="block h-full w-auto"
		fill="none"
		viewBox="0 0 100 102"
		aria-label="ezmode.games logo"
		role="img"
	>
		<g>
			<path d={paths.p25d880} fill="currentColor" />
			<path d={paths.p64e4d00} fill="currentColor" />
			<path d={paths.p215acc80} fill="currentColor" />
			<path d={paths.p271ce200} fill="currentColor" />
			<path d={paths.p1f7d25f2} fill="currentColor" />
			<path d={paths.p39b87bb0} fill="currentColor" />
		</g>
	</svg>
</div>
